/* LE CORPS DE LA PAGE */
html, body {
    margin: 0;
    padding: 0;
    user-select: none;
    overflow-x: hidden;
}

* { 
    font-family: "Shantell Sans"; 
}

html {
    scroll-behavior: smooth;
    color: white
}

/* BARRE DE NAVIGATION */
#burger, #toggle {
    display: none;
}

#navbar {
    display: flex;
    background-color: whitesmoke;
    width: 100%;
    transition: 0.2s;
    position: fixed;
    z-index: 1;
}

#logo-navbar {
    display: flex;
    margin-left: 15%;
}

.nav-list {
    text-decoration: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.nav-list li {
    display: flex;
    color: black;
}

.nav-list a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    padding: 15px;
}

a:visited {
    text-decoration: none;
}

.nav-list li:hover {
    background-color: gold;
}

.nav-list a:hover {
    color: red;
}

/* BOUTON LANGUE */
.bouton {
    border: none;
    outline: none;
    background-color: inherit;
    overflow: hidden;
    cursor: pointer;
    display: flex;
}

.deroulant {
    position: relative;
    display: inline-block;
    top: 42%;
}

.deroulant .contenu-deroulant {
    margin-top: 60px;
}

.deroulant:hover .contenu-deroulant {
    display: block;
}

.contenu-deroulant {
    position: absolute;
    overflow: hidden;
    display: none;
    bottom: 45%;
}

.contenu-deroulant a {
    display: block;
}

/* PHOTO DE CODE */
.photo-nom {
    width: 100%;
    text-align: center;
    height: 800px;
    background-image: url(./images/code.jpeg);
    background-size: cover;
}

#text  {
    left: 250px;
    right: 250px;
    top: 350px;
    font-size: 4rem;
    text-align: center;
    font-weight: 600;
}   

#bouton_contact {
    display: inline-flex; 
    justify-content: center;
    margin-top: 50px;
    text-decoration: none;
    padding: 15px 32px;
    background-color: rgb(5, 5, 85);
    border-radius: 15px;
    color: white;
}

#bouton_contact:hover {
    background-color: crimson;
    transition: .5s ease;
}

h1 {
    font-size: 4em;
}

/* SECTIONS */
#presentation, #parcours-experiences, #projets, #compétences, #form-contact {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background-color: royalblue;
    padding-bottom: 120px;
    padding-top: 120px;
}

#presentation, #compétences, #contact {
    background-color: rgb(7, 6, 84);
}

#asterixprojetperso {
    display: flex;
    justify-content: left;
    width: 100%;
}

#asterixprojetperso div {
    margin-left: 2%;
}

#citation {
    display: flex;
    height: 300px;
    justify-content: center;
    align-items: center;
    font-style: italic;
    background-image: url("./images/DSC_3117.jpg");
    background-size: cover;
    color: white;
    font-weight: 700;
    min-height: 30rem;
    background-size: 100% 600px;
}

#citation p {
    text-align: center;
}

#download_button {
    display: flex;
    text-decoration: none;
    font-size: 1.8em;
    padding: 7px;
    background-color: palevioletred;
    border-radius: 30px;
    color: white;
    transition: .5s ease;
    margin-top: 9%;
}

#download_button:hover { 
    opacity: 0.8; 
}

/* PROJETS */
.container-projets {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* PROJETS INDIV */
.container-image {
    margin: 30px;
    position: relative;
}

.desc-projet {
    position: relative;
}

.desc-projet p {
    width: 300px;
    text-align: center;
}

.hover {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: .5s ease;
}

.hover:hover {
    opacity: 1;
}

.img_projet {
    height: 230px; 
    width: 300px;
    border-radius: 30px;
}

.container-texte {
    background-color: blue;
    border-radius: 30px;
}

.texte-image {
    display: flex;
    justify-content: center;
    font-size: 20px;
    color: white;
    height: 230px;
}

.presentation-texte {
    text-decoration: none; 
    color: white;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#skills { 
    display: flex; 
    gap: 45px;
}

#skills p {
    background-color: brown;
    padding: 0.4em;
    color: white;
    border-radius: 30px;
}

p {
    font-size: 1.5em;
}

#p-propos {
    margin: 55px;
}

#img_competences {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

#img_competences i { margin: 50px; }

.desc-langage {
    font-size: 0.8rem;
    width: 100%;
}

.logo-langages {
    display: flex;
    padding: 1.5rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 230px;
    height: 100%;
}

#myBtn {
    display: none;
    position: fixed; 
    bottom: 20px; 
    right: 30px;
    border: none; 
    padding: 15px;
    z-index: 99;
    cursor: pointer;
    color: whitesmoke
}

#myBtn:hover {
    color: red;
    transition: 1s;
}

form {
    display: flex;
    flex-direction: column;
    padding: 35px;
    border-radius: 30px;
}

form button {
    width: 100%;
    transition: 1s;
    cursor: pointer;
}

form input {
    width: 30rem;
    height: 2.5em;
    border-style: none;
}

form textarea {
    height: 150px;
    border-style: none;
}

label { color: white; }

form button:hover {
    opacity: 0.8;
}

#contact {
    background-color: black;
    color: white;
}

.logo:hover { 
    opacity: 0.8;
    transition: 1s;
}