/* LE CORPS DE LA PAGE */
body {
    margin: 0;
}

/* BARRE DE NAVIGATION */
nav {
    display: flex;
    justify-content: flex-end;
    background-color: rgb(25, 92, 193);
    width: 100%;
    transition: 0.4s;
}

.nav-list {
    display: flex;
    flex-direction: row;
    margin: 0;
}

.nav-list li a {
    display: block;
    text-decoration: none;
    padding: 25px;
    color: black;
    font-family: "Fredoka One";
}

.nav-list li:hover {
    background-color: gold;
}

ul {
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/* SECTIONS */
div, footer {
    display: flex;
    align-content: center;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    padding-top: 5%;
    padding-bottom: 5%;
}

#presentation, #projets, #contact {
    background-color: rgb(174, 171, 171);
}

#photo-code {
    width: 100%;
    height: 800px;
    display: block;
}