@media (max-width:790px) {
    .projet-indiv, #img_competences, #skills {
        flex-direction: column; 
    }
    #skills p {
        margin: 25px;
    }
    #citation p {
       text-align: center;
    }

    .container-projets {
        flex-direction: column;
    }

    h1 {
        font-size: 3em;
    }
}

@media (max-width:665px) {
    #burger {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        font-size: 40px;
        color: black;
        cursor: pointer;
        block-size: 100px;
    }

    nav .nav-list {
        display: none;
        flex-direction: column;
        height: 265px;
    }

    .nav-list a {
        width: 100%;
    }
    #toggle:checked + .nav-list {
        display: flex;
    }

    .contenu-deroulant {
        background-color: whitesmoke;
    }
}

@media screen and (max-width:765px) {
    #download_button {
        margin-top: 120px;
    }

    .deroulant {
        top: 0;
        left: 46%;
    }
}

@media (max-width:511px) {
    #text {
        font-size: 2rem;
    }
    h1 {
        font-size: 2.5rem;
    }
    form input, form button {
        width: 18rem;
    }
    #citation p {
        font-size: 1.5rem;
    }
}

@media screen and (max-width:1400px) {
    .container-projets {
       flex-direction: column;
    }
}

@media screen and (max-width:1340px) {
    #img_competences {
        flex-direction: column;
    }
}

@media screen and (max-width:280px) {
    #skills p, #download_button, .desc-projet p {
        font-size: 20px;
    }

    .img_projet {
        width: 230px;
    }

    

    .nav-list a {
        font-size: 13px
    }

    h1 {
        font-size: 32px;
    }

    form input, form button {
        width: 14rem;
    }

    #citation p {
        font-size: 22px
    }

    .texte-image {
        font-size: 15px;
    }

    .hover {
        width: 230px;
        left: 35px;
        right: 40px
    }

    .contenu-deroulant {
        top: 15px;
    }
}